<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoyu.imp.mapper.RootMapper">

    <resultMap id="BaseResultMap" type="com.guoyu.imp.entity.Root">
        <result column="id"  property="uuid" />
        <result column="name"  property="name" />
        <result column="age"  property="age" />
        <result column="sex"  property="sex" />
    </resultMap>

    <select id="findOne" resultType="com.guoyu.imp.entity.Root">
         select * from root where uuid = #{id}
    </select>
</mapper>